//nuevo color para Primary
$primary: #b83390;
$danger: #ff4136;
$warning:#ffc107;
$theme-colors: ( "primary": $primary, "danger": $danger, "warning": $warning, );
@import "../node_modules/bootstrap/scss/bootstrap";