<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid g-0">



        <a class="navbar-brand " href="#">
            <img src="assets/img/nombre/DeniseBustos.svg" alt="" width="300" height="100" class="d-inline-block align-text-top mx-5">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>



        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-5">
                <li class="nav-item mx-3">
                    <a class="nav-link h4 text-primary active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link h4 text-primary" href="#">Link</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link h4 text-primary" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>





    </div>
</nav>


<!-- --------Fin head----------- -->





<!-- --------CARRUSEL-------- -->

<div id="carouselExampleInterval" class="carousel slide w-75  mx-auto py-4" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="assets/img/slide/01.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/slide/02.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="assets/img/slide/03.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<!-- Prueba GitHub cambio 6 -->

<!-- ----------CÓDIGO PARA GALERÍA--------- -->



<div class="row justify-content-evenly g-0 py-4 galeria">



    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente1">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente2">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente3">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>

    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>

    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>





</div>
<!-- -----------FIN GALERIA---------- -->













<!-- ----BASE DE GALERIA-----
    <div class="col-auto py-4">
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4">
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4">
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div> -->






<!-- -----MEDIO----- -->
<!-- <div class="row justify-content-center g-0">
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cazul.png" alt="" class="">
        </div>
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cazul.png" alt="" class="">
        </div>
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cazul.png" alt="" class="">
        </div>
    </div> -->

<!-- -----ABAJO----- -->
<!-- <div class="row justify-content-center g-0">
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cverde.png" alt="" class="">
        </div>
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cverde.png" alt="" class="">
        </div>
        <div class="col-auto py-4 px-4">
            <img src="assets/img/cverde.png" alt="" class="">
        </div>
    </div> -->














<!-- <div class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-6 text-center">
          <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <div class="col-6 text-center">
          <button type="button" class="btn btn-warning btn-lg">Warning</button>
        </div>

    </div>
  </div> -->