<app-header></app-header>

<p class="display-2 text-center py-5">Videos</p>

<div class="row">


    <div class="col-4 border">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://player.vimeo.com/video/642197656" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>


    <div class="col-4 border">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/doreoNU5baE" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/ZGUVS73uyFI" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>



</div>
<!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/doreoNU5baE" title="Logo 3d" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->