<app-header></app-header>

<p class="display-2 text-center py-5">Videos</p>

<!-- Primeros Videos -->

<div class="row justify-content-center g-0">


    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9">
            <iframe src="https://player.vimeo.com/video/642197656" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/ZGUVS73uyFI" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/DrjGrMOVqRk" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/9MYoNTABzxs" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/doreoNU5baE" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

</div>


<!-- Segunda Parte Videos -->

<p class="display-4 text-center py-5 my-5">Producciones Audiovisuales</p>

<div class="row justify-content-center g-0 mb-5">


    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/G9HUuibg--8" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/hx6ctaCu6qQ" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/7tBsojNz6Q4" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/NYIU8cFTCNQ" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-4 border p-3">
        <div class="ratio ratio-16x9 ">
            <iframe src="https://www.youtube.com/embed/ivPWLhGYwNw" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>

</div>


<app-footer></app-footer>