.galeria .contenedor-imagen a {
    background: #000;
    display: inline-block;
}

.galeria .contenedor-imagen:hover img {
    opacity: .4;
}

.galeria .contenedor-imagen h1 {
    color: #fff;
    position: absolute;
    display: none;
}

.galeria .contenedor-imagen:hover h1 {
    display: block;
}

.galeria .contenedor-imagen p {
    color: #fff;
    display: none;
    position: absolute;
    width: 100%;
}

.galeria .contenedor-imagen:hover p {
    display: block;
}

.fuente1 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
}

.fuente2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

.fuente3 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
}