<app-header></app-header>

<p class="display-2 text-center py-5">Diseño Web</p>

<div class="row justify-content-evenly g-0 py-4 galeria">



    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente3">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente3">Diseño Web</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center fuente3">Manual de Marca</p>
        <a href="">
            <img src="assets/img/cuadrado.png" alt="" class="">
        </a>
    </div>

    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cverde.png" alt="" class="">
        </a>
    </div>

    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>
    <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
        <p class="display-5 text-center">Diseño Gráfico</p>
        <a href="">
            <img src="assets/img/cazul.png" alt="" class="">
        </a>
    </div>





</div>