<app-header></app-header>

<p class="display-2 text-center py-5">Diseño Web</p>

<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-8 col-md-4 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg1">
                        <img src="assets/img/d-web/w001.png" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-11 col-md-7 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg2">
                        <img src="assets/img/d-web/w002.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-5 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg3">
                        <img src="assets/img/d-web/w003.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-10 col-md-5 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg4">
                        <img src="assets/img/d-web/w004.png" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 my-4 justify-content-evenly">
                <div class="col-10 col-md-5 py-4 contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg5">
                        <img src="assets/img/d-web/w005.png" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-10 col-md-5 py-4 contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg6">
                        <img src="assets/img/d-web/w006.png" alt="" class="w-100">
                    </a>
                </div>
            </div>





        </div>
        <!-- ------Fin galeria-------- -->

        <div class="row g-0">

            <!-- ------Modal Imagen 1 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg1" id="mImg1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w001.png" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 2 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg2" id="mImg2">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w002.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 3 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg3" id="mImg3">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w003.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 4 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg4" id="mImg4">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w004.png" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 5 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg5" id="mImg5">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w005.png" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 6 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg6" id="mImg6">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-web/w006.png" alt="" class="">
                    </div>
                </div>
            </div>




        </div>















        <!-- ------Modal con js------------ -->

        <!-- <div class="modal fade" id="modal-galeria" tabindex="-1" aria-labelledby="modal-galeria" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <h1>Hola</h1>
                    <img src="asset/img/cazul.png" id="imagen-modal" alt="">
                </div>
            </div>
        </div> -->
        <!-- Fin modal js -->



    </div>
</div>


<app-footer></app-footer>