<app-header></app-header>

<p class="display-2 text-center py-5 pb-2">Videojuegos</p>


<!-- ------Inicio ----- -->
<div class="row justify-content-evenly g-0 py-4 galeria">

    <div class="row g-0 alto my-4 justify-content-evenly">

        <p class="display-4 text-center pb-3">Buscando a mi Media Naranja</p>

        <div class="col-auto contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
            <a href="https://globalgamejam.org/2021/games/buscando-mi-media-naranja-9" target="blank" data-bs-toggle="" data-bs-target="#mImg1">
                <img src="assets/img/galeria/c-videojuego.png" alt="" class="w-100 border">
            </a>
        </div>
    </div>

</div>


<app-footer></app-footer>



<!-- <div class="row g-0">

    
    <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg1" id="mImg1">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <a href="https://globalgamejam.org/2021/games/buscando-mi-media-naranja-9"></a>
            </div>
        </div>
    </div>

</div> -->