<app-header></app-header>

<p class="display-2 text-center py-5">Sobre Mí</p>



<div class="container-fluid g-0">

    <div class="row g-0 justify-content-center mb-5">
        <div class="col-11 col-sm-10 col-md-7">
            <p>Soy Denise L. Bustos, diseñadora multimedial e ilustradora independiete de Mendoza, Argentina, especializada en diseño y desarrollo web, producciones audiovisuales, ilustraciones digitales. Me recibí en la carrera de Arte y Diseño Multimedial
                en Fundación Universitas de Mendoza. <br><br> Actualmente busco crecer profesionalmente en Front-end y UX UI, acudiendo a cursos de plataformas de diseño y programación. <br><br> La ilustración forma parte de una de mis pasiones de toda
                la vida, por lo que siempre he estado indagando y adquiriendo conocimientos nuevos para mejorar y obtener mejores resultados.
            </p>
        </div>
    </div>

    <div class="row g-0 justify-content-center mb-3 mb-md-5">
        <div class="col-4 col-md-5 d-flex justify-content-center">
            <a href="" data-bs-toggle="modal" data-bs-target="#mcv" class="d-flex justify-content-center ">
                <img src="assets/img/sobremi/cv_denise22_2.jpg" alt="" class="w-100">
            </a>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mcv" id="mcv">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <img src="assets/img/sobremi/cv_denise22.jpg" alt="">
        </div>
    </div>
</div>


<app-footer></app-footer>