<app-header></app-header>

<p class="display-2 text-center py-5">Sobre Mí</p>

<div class="container-fluid g-0">
    <div class="row g-0 justify-content-center">
        <div class="col-4 col-md-5 d-flex justify-content-center">
            <a href="" data-bs-toggle="modal" data-bs-target="#mcv" class="d-flex justify-content-center ">
                <img src="assets/img/sobremi/cv_denise22.jpg" alt="" class="w-100">
            </a>
        </div>
    </div>
</div>

<!-- Modal -->

<div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mcv" id="mcv">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <img src="assets/img/sobremi/cv_denise22.jpg" alt="">
        </div>
    </div>
</div>