<app-header></app-header>

<p class="display-2 text-center py-5">Fotografías</p>

<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">

            <div class="row g-0 alto my-4 justify-content-evenly">

                <div class="col contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg1">
                        <img src="assets/img/fotografias/f-01.jpg" alt="" class="w-100 border">
                    </a>
                </div>
                <div class="col contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg2">
                        <img src="assets/img/fotografias/f-02.jpg" alt="" class="w-100 border">
                    </a>
                </div>

            </div>




        </div>
        <!-- ------Fin galeria-------- -->





        <div class="row g-0">

            <!-- ------Modal Imagen 1 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg1" id="mImg1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/fotografias/f-01.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 2 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg2" id="mImg2">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/fotografias/f-02.jpg" alt="" class="">
                    </div>
                </div>
            </div>





        </div>







    </div>
</div>