.galeria .contenedor-imagen a {
    background: #000;
    display: inline-block;
}

.galeria .contenedor-imagen:hover img {
    opacity: .4;
}

.galeria .contenedor-imagen p {
    color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 15;
}

.galeria .contenedor-imagen:hover p {
    display: block;
}

.fuente3 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    text-align: center;
}

.columna {
    text-align: center;
}