<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">


            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto my-auto">Diseño Gráfico</p>
                <a routerLink="/dgrafico" routerLinkActive="active" class="m-auto my-auto">
                    <img src="assets/img/galeria/c-dgrafico.png" alt="" class=" w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto">Diseño Web</p>
                <a routerLink="/dweb" href="">
                    <img src="assets/img/galeria/c-dweb.png" alt="" class="w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 ">Manual de Marca</p>
                <a href="" [routerLink]="['/mmarca']">
                    <img src="assets/img/galeria/c-mmarca.png" alt="" class="w-100">
                </a>
            </div>

            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto">Videos</p>
                <a routerLink="videos" routerLinkActive="active">
                    <img src="assets/img/cverde.png" alt="" class=" w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto">Revista</p>
                <a routerLink="/revista" href="">
                    <img src="assets/img/cverde.png" alt="" class="w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 ">Ilustraciones</p>
                <a href="" [routerLink]="['/Ilustraciones']">
                    <img src="assets/img/cverde.png" alt="" class="w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto">Fotografías</p>
                <a routerLink="/dgrafico" routerLinkActive="active">
                    <img src="assets/img/cazul.png" alt="" class=" w-100">
                </a>
            </div>
            <div class="col-5 col-sm-5 col-md-4 px-md-3 col-xl-4 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                <p class="display-5 text-center fuente3 w-75 m-auto">Videojuegos</p>
                <a routerLink="/dweb" href="">
                    <img src="assets/img/cazul.png" alt="" class="w-100">
                </a>
            </div>






        </div>
        <!-- ------Fin galeri-------- -->



    </div>
</div>