<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">



            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center fuente3">Diseño Gráfico</p>
                <a routerLink="/dgrafico" routerLinkActive="active">
                    <img src="assets/img/cuadrado.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center fuente3">Diseño Web</p>
                <a routerLink="/dweb" href="">
                    <img src="assets/img/cuadrado.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center fuente3">Manual de Marca</p>
                <a href="" [routerLink]="['/mmarca']">
                    <img src="assets/img/cuadrado.png" alt="" class="">
                </a>
            </div>

            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cverde.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cverde.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cverde.png" alt="" class="">
                </a>
            </div>

            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cazul.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cazul.png" alt="" class="">
                </a>
            </div>
            <div class="col-auto py-4 contenedor-imagen d-flex align-items-center position-relative">
                <p class="display-5 text-center">Diseño Gráfico</p>
                <a href="">
                    <img src="assets/img/cazul.png" alt="" class="">
                </a>
            </div>





        </div>
        <!-- ------Fin galeri-------- -->

    </div>
</div>