<nav class="g-0 navbar navbar-dark bg-primary justify-content-between py-5">
    <!-- <a class="navbar-brand mx-3 p-3" href="#">Denise Bustos</a> -->

    <div class="row  g-0 justify-content-evenly d-flex align-items-center">
        <div class="col-auto g-0 justify-content-center ">
            <a class="navbar-brand " href="#">
                <img src="assets/img/nombre/DeniseBustosblanco.svg" id="cursorlogo" alt="" width="250" height="80" class=" align-text-top  mx-5">
            </a>
        </div>

        <div class="d-none d-sm-block col-auto col-lg-auto g-0 d-flex justify-content-evenly">
            <a routerLink="/dgrafico" class="navbar-brand mx-3 p-3 " href="#">Diseño Gráfico</a>
            <a routerLink="/dweb" class="navbar-brand mx-3 p-3 " href="#">Diseño Web</a>
            <a routerLink="/mmarca" class="navbar-brand mx-3 p-3 " href="#">Manual de Marca</a>


        </div>
        <div class="d-none d-sm-block col-auto col-lg-auto g-0 d-flex justify-content-evenly">
            <a routerLink="/videos" class="navbar-brand mx-3 p-3 " href="#">Videos</a>
            <a routerLink="/revista" class="navbar-brand mx-3 p-3 " href="#">Revista</a>
            <a routerLink="/ilustraciones" class="navbar-brand mx-3 p-3 " href="#">Ilustraciones</a>

        </div>
        <div class="d-none d-sm-block col-auto col-lg-auto g-0 d-flex justify-content-evenly ">
            <a routerLink="/fotografias" class="navbar-brand mx-3 p-3 " href="#">Fotografías</a>
            <a routerLink="/videojuegos" class="navbar-brand mx-3 p-3 " href="#">Videojuegos</a>
            <a routerLink="/sobremi" class="navbar-brand mx-3 p-3 " href="#">Sobre mí</a>

        </div>
        <div class="col-auto col-lg-auto g-0 d-flex justify-content-start ">
            <a routerLink="/contacto" class="navbar-brand mx-3 p-3 " href="#">Contacto</a>
            <a class="navbar-brand align-self-center" target="_blank" href="https://www.linkedin.com/in/denise-bustos-664840200?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bw9TaVvvJRN6WvJX%2FQwy7lA%3D%3D">
                <img class="d-inline-block align-text-top  bg-light rounded-1" id="cursorlogo" src="assets/img/botones/linked.png" alt="Linkedin" width="" height="35">
            </a>
        </div>

    </div>
</nav>

<nav class="navbar bg-primary bg-opacity-25 justify-content-center p-0 g-0">
    <a class="navbar-brand " href="#">2022</a>
</nav>



<!-- <nav class="navbar navbar-dark bg-primary g-0 py-3">
    <div class="container-fluid g-0 p-2 justify-content-center">
        <a class="navbar-brand mx-3" href="#">Denise Bustos</a>
    </div>
</nav> -->