<nav class="navbar navbar-dark bg-primary justify-content-center py-3">
    <!-- <a class="navbar-brand mx-3 p-3" href="#">Denise Bustos</a> -->


    <a class="navbar-brand mx-3 p-3 " href="#">Diseño Gráfico</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Diseño Web</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Manual de Marca</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Videos</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Revista</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Ilustraciones</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Fotografías</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Videojuegos</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Sobre mí</a>
    <a class="navbar-brand mx-3 p-3 " href="#">Contacto</a>
    <a class="navbar-brand" href="https://www.linkedin.com/in/denise-bustos-664840200?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bw9TaVvvJRN6WvJX%2FQwy7lA%3D%3D">
        <img src="assets/img/botones/linked.png" alt="Linkedin" width="" height="35" class="d-inline-block align-text-top bg-light rounded-1">

    </a>

</nav>

<nav class="navbar bg-primary bg-opacity-25 justify-content-center p-0">
    <a class="navbar-brand " href="#">2022</a>
</nav>



<!-- <nav class="navbar navbar-dark bg-primary g-0 py-3">
    <div class="container-fluid g-0 p-2 justify-content-center">
        <a class="navbar-brand mx-3" href="#">Denise Bustos</a>
    </div>
</nav> -->