<app-header></app-header>

<p class="display-2 text-center py-5">Revista</p>

<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg1">
                        <img src="assets/img/revista/01.jpg" alt="" class="w-100 border">
                    </a>
                </div>
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg2">
                        <img src="assets/img/revista/02.jpg" alt="" class="w-100 border">
                    </a>
                </div>
            </div>

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg3">
                        <img src="assets/img/revista/03.jpg" alt="" class="w-100 border">
                    </a>
                </div>
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg4">
                        <img src="assets/img/revista/04.jpg" alt="" class="w-100 border">
                    </a>
                </div>
            </div>

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg5">
                        <img src="assets/img/revista/05.jpg" alt="" class="w-100 border">
                    </a>
                </div>
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg6">
                        <img src="assets/img/revista/06.jpg" alt="" class="w-100 border">
                    </a>
                </div>
            </div>

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg7">
                        <img src="assets/img/revista/07.jpg" alt="" class="w-100 border">
                    </a>
                </div>
                <div class="col-10 col-md-5 contenedor-imagen py-4 d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg8">
                        <img src="assets/img/revista/08.jpg" alt="" class="w-100 border">
                    </a>
                </div>
            </div>







        </div>
        <!-- ------Fin galeria-------- -->

        <div class="row g-0">

            <!-- ------Modal Imagen 1 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg1" id="mImg1">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/01.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 2 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg2" id="mImg2">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/02.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 3 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg3" id="mImg3">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/03.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 4 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg4" id="mImg4">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/04.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 5 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg5" id="mImg5">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/05.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 6 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg6" id="mImg6">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/06.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 7 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg7" id="mImg7">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/07.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 8 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg8" id="mImg8">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/revista/08.jpg" alt="" class="">
                    </div>
                </div>
            </div>





        </div>







    </div>
</div>