<app-header></app-header>

<p class="display-2 text-center py-5">Diseño Gráfico</p>

<div class="row g-0">
    <div class="col">

        <!-- ------Inicio galeria----- -->
        <div class="row justify-content-evenly g-0 py-4 galeria">

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-5 col-md-3 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg1">
                        <img src="assets/img/d-grafico/g001.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-5 col-md-3 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg2">
                        <img src="assets/img/d-grafico/g002.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-10 col-md-5 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg3">
                        <img src="assets/img/d-grafico/g003.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 alto my-4 justify-content-evenly">
                <div class="col-10 col-md-8 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg4">
                        <img src="assets/img/d-grafico/g004.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-8 col-md-3 py-4 contenedor-imagen d-flex align-items-center position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg5">
                        <img src="assets/img/d-grafico/g005.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 my-4 justify-content-evenly">
                <div class="col-5 col-md-3 py-4 contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg6">
                        <img src="assets/img/d-grafico/g006.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-5 col-md-3 py-4 contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg7">
                        <img src="assets/img/d-grafico/g007.jpg" alt="" class=" w-100">
                    </a>
                </div>
                <div class="col-10 col-md-3 py-4 contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg8">
                        <img src="assets/img/d-grafico/g008.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 py-4 justify-content-evenly">
                <div class="col-10 col-md-4 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg9">
                        <img src="assets/img/d-grafico/g009.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-10 col-md-6 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg10">
                        <img src="assets/img/d-grafico/g010.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 py-4 justify-content-evenly">
                <div class="col-4 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg11">
                        <img src="assets/img/d-grafico/g011.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-7 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg12">
                        <img src="assets/img/d-grafico/g012.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 py-4 justify-content-evenly">
                <div class="col-4 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg13">
                        <img src="assets/img/d-grafico/g013.jpg" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-6 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg14">
                        <img src="assets/img/d-grafico/g014.jpg" alt="" class="w-100">
                    </a>
                </div>
            </div>

            <div class="row g-0 py-4 justify-content-evenly">
                <div class="col-3 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg15">
                        <img src="assets/img/d-grafico/g015.png" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-3 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg16">
                        <img src="assets/img/d-grafico/g016.png" alt="" class="w-100">
                    </a>
                </div>
                <div class="col-3 py-4  contenedor-imagen d-flex align-items-start position-relative justify-content-center">
                    <a href="" data-bs-toggle="modal" data-bs-target="#mImg17">
                        <img src="assets/img/d-grafico/g017.png" alt="" class="w-100">
                    </a>
                </div>
            </div>



        </div>
        <!-- ------Fin galeria-------- -->

        <div class="row g-0">

            <!-- ------Modal Imagen 1 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg1" id="mImg1">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g001.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 2 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg2" id="mImg2">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g002.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 3 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg3" id="mImg3">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g003.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 4 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg4" id="mImg4">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g004.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 5 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg5" id="mImg5">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g005.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 6 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg6" id="mImg6">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g006.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 7 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg7" id="mImg7">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g007.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 8 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg8" id="mImg8">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g008.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 9 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg9" id="mImg9">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g009.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 10 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg10" id="mImg10">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g010.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 11 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg11" id="mImg11">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g011.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 12 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg12" id="mImg12">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g012.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 13 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg13" id="mImg13">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g013.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 14 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg14" id="mImg14">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g014.jpg" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 15 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg15" id="mImg15">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g015.png" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 16 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg16" id="mImg16">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g016.png" alt="" class="">
                    </div>
                </div>
            </div>
            <!-- ------Modal Imagen 17 -->
            <div class="modal fade" aria-hidden="true" tabindex="-1" aria-labelledby="mImg17" id="mImg17">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <img src="assets/img/d-grafico/g017.png" alt="" class="">
                    </div>
                </div>
            </div>



        </div>















        <!-- ------Modal con js------------ -->

        <!-- <div class="modal fade" id="modal-galeria" tabindex="-1" aria-labelledby="modal-galeria" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <h1>Hola</h1>
                    <img src="asset/img/cazul.png" id="imagen-modal" alt="">
                </div>
            </div>
        </div> -->
        <!-- Fin modal js -->



    </div>
</div>


<app-footer></app-footer>